
500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "bv2heatico.ico"
501 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "bv2heatico.ico"

2000 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "bv2heatmon.bmp"

2005 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "xbuttonup.bmp"
2006 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "xbuttondown.bmp"

2011 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "minup.bmp"
2012 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "mindown.bmp"




